<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
  <header class="header">
    <h1>ChinaCalc</h1>
    <ul>
      <li><a href="/main">Калькулятор</a></li>
      <li><a href="/orders">Заказы</a> </li>
      <li><a href="/customers">Клиенты</a></li>
      <li><a href="/logout">Выйти</a></li>
    </ul>
  </header>

  <h1>Администрирование пользователей</h1>

  <div class="new-user">
    <form action="/admin" th:object="${user}" method="POST" enctype="utf-8">
      <div>
        <h2>Создать нового пользователя</h2>
      </div>
      <div>
        <p>Email <input type="email" th:field="*{email}"/></p>
      </div>
      <button type="submit">Sign up</button>
      <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
      <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    </form>
  </div>

  <div class="users">
    <h2>Пользователи</h2>
      <table class="users-list">
        <tr>
          <th>Пользователь</th>
          <th>Почта</th>
          <th>Роль</th>
        </tr>
        <tr th:each = "user: ${userlist}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.email}"></td>
          <td th:each = "roles: ${user.roles}" th:text="${roles.name}"></td>
        </tr>
      </table>
    </div>
  </body>
  <footer>
    <ul>
      <li><a href="https://github.com/saaws88">Saaws88</a></li>
      <li><a href="https://twitter.com/ne_kot">Twitter</a></li>
      <li><a href="http://localhost8088/admin">Страница администрирования</a></li>
    </ul>
  </footer>
</html>