<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<header class="header">
  <h1>ChinaCalc</h1>
  <ul>
    <li><a href="/main">Калькулятор</a></li>
    <li><a href="/orders">Заказы</a> </li>
    <li><a href="/customers">Клиенты</a></li>
    <li><a href="/logout">Выйти</a></li>
  </ul>
</header>

<body>
  <h1>Администрирование клиентов</h1>
  <fieldset>
    <legend>Поиск клиента</legend>
    <label for="id-filter">ID клиента</label>
    <input type="text" id="id-filter" name="name-filter">
    <label for="name-filter">Наименование</label>
    <input type="text" id="name-filter" name="name-filter">
    <label for="type-filter">Тип клиента</label>
    <input type="text" id="type-filter" name="type-filter">
    <label for="manager-filter">Менеджер</label>
    <input type="text" id="manager-filter" name="manager-filter">
  </fieldset>
  <div class="customers-table">
    <table>
      <tr>
        <th>Id</th>
        <th>Наименование</th>
        <th>Частное лицо</th>
        <th>ИНН</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Город</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Категория</th>
      </tr>
      <tr th:each="customer: ${customerslist}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.privatePerson}"></td>
        <td th:text="${customer.individualTaxpayerNumber}"></td>
        <td th:text="${customer.contactLastName}"></td>
        <td th:text="${customer.contactFirstName}"></td>
        <td th:text="${customer.contactPatronymic}"></td>
        <td th:text="${customer.city}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.customerCategory}"></td>
      </tr>
    </table>
  </div>
</body>
<footer>
  <ul>
    <li><a href="https://github.com/saaws88">Saaws88</a></li>
    <li><a href="https://twitter.com/ne_kot">Twitter</a></li>
    <li><a href="http://localhost:8088/admin">Страница администрирования</a></li>
  </ul>
</footer>

</html>