<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<header class="header">
    <h1>ChinaCalc</h1>
    <ul>
        <li><a href="/main">Калькулятор</a></li>
        <li><a href="/orders">Заказы</a> </li>
        <li><a href="/customers">Клиенты</a></li>
        <li><a href="/logout">Выйти</a></li>
    </ul>
</header>
<body>
<div class="mainframe">
    <h1>
        Home
    </h1>
    <img src="https://img.ifunny.co/images/ce73c91718d089461c9ad31c615036dcd0c99b11070bc03f7a6f167e35d4c0f8_1.jpg" alt="">
</div>
</body>
<footer>
    <ul>
        <li><a href="https://github.com/saaws88">Saaws88</a></li>
        <li><a href="https://twitter.com/ne_kot">Twitter</a></li>
    </ul>
</footer>
</html>